.addStaffButton {
	display: flex;
	align-items: center;
	gap: 2px;
}
.addStaffButton .icon {
	font-size: 1.6rem !important;
}

.OfficeWrapper {
	display: flex;
	width: 100%;
	padding: 0 6px;
	gap: 6px;
}
.OfficeSideBar {
	flex: 2;
}
.OfficeMiddleBar {
	flex: 10;
}
.OfficeMiddleBar .middleBarWrapper {
	padding-bottom: 0;
}

.adminStaffListHeader {
	font-weight: 700;

	position: relative;
	width: calc(100% - 2rem);
	display: flex;
	flex-wrap: wrap;
	margin: 0 auto;
	gap: 2rem;
	padding: 0 2rem;
	padding: 1rem 1.5rem;
	padding-right: 2rem;
	/* border: 1px solid rgba(0, 0, 0, 0.2); */
}

.adminStaffListHeader span {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
}

.adminStaffListHeader span:not(:nth-child(1)):before {
	position: absolute;
	content: "";
	left: -1rem;
	width: 1px;
	height: 100%;
	border-left: solid var(--sc-grey) 1px;
}

.adminStaffListCardWrapper {
	display: flex;
	position: relative;
	flex-direction: column;
	gap: 1rem;
	padding: 1rem;
	padding-bottom: 2rem;
	height: calc(100vh - 200px);
	overflow-y: auto;
}

/* PORT */
.adminOfficeListCard {
	position: relative;
	width: 100%;
	/* background-color: lightgray; */
	display: flex;
	flex-wrap: wrap;
	gap: 2rem;
	padding: 1rem 1.5rem;
	/* cursor: pointer; */
	border: 1px solid rgba(0, 0, 0, 0.1);
	border-radius: 8px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	-ms-border-radius: 8px;
	-o-border-radius: 8px;
}

.adminOfficeListCard:hover {
	/* box-shadow: 0px 0px 7px 0px rgb(0, 200, 83, 0.4); */
	/* font-weight: 700; */
	background-color: var(--green-background);
}

.adminOfficeListCard > div {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
}

/* .adminOfficeListHeader div:not(:nth-child(1)):before, */
.adminOfficeListCard > div:not(:nth-child(1)):before {
	position: absolute;
	content: "";
	left: -1rem;
	width: 1px;
	height: 100%;
	border-left: dashed var(--sc-grey) 1px;
}

.adminOfficeListCardEditButton {
	background-color: rgb(206, 206, 206);
	color: rgb(51, 51, 51);
	padding: 2px 5px;
	width: 100%;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
}

.adminOfficeListCard__avatar {
	overflow: hidden;
	width: 4.5rem;
	height: 4.5rem;
	border: 1px var(--sc-grey) solid;

	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
}

/* Card and Header width */
.adminOfficeListHeader__name,
.adminOfficeListCard__name {
	min-width: 5rem;
	flex: 2;
}
.adminOfficeListHeader__staff,
.adminOfficeListCard__staff {
	min-width: 5rem;
	flex: 4;
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}
.adminOfficeListHeader__tasks,
.adminOfficeListCard__tasks {
	min-width: 15rem;
	flex: 5;
}
.adminOfficeListHeader__region,
.adminOfficeListCard__region {
	min-width: 5rem;
	flex: 1;
}
.adminOfficeListHeader__status,
.adminOfficeListCard__status {
	min-width: 5rem;
	flex: 1;
}
.adminOfficeListHeader__edit,
.adminOfficeListCard__edit {
	min-width: 6rem;
	flex: 1;
}

.adminOfficeListCard__staff span {
	/* border: 1px solid red; */
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
	padding: 0 0.5rem;
	border-radius: 0.8rem;
	-webkit-border-radius: 0.8rem;
	-moz-border-radius: 0.8rem;
	-ms-border-radius: 0.8rem;
	-o-border-radius: 0.8rem;
}
.adminOfficeListCard__staff span:hover {
	color: var(--pc-green);
	cursor: pointer;
	box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
}

.adminOfficeListCard__status.active{
	color: var(--pc-green);
	padding: 0 1px;
	font-weight: 700;
}
.adminOfficeListCard__status.inactive{
	color: var(--sc-grey);
	font-weight: 700;
}