.searchResultCard {
  position: relative;
  width: 100%;
  min-height: 4.5rem;
  /* height: 4.5rem; */
  overflow: hidden;



  background-color: var(--white);

  /* outline: 1px solid red; */
  display: flex;


  font-size: 1.3rem;
  gap: 2rem;
  line-height: 1.6rem;
  padding: .5rem 1rem;

}
.searchResultCard:not(:last-of-type){
  border-bottom: 1px solid #7882a4;
}
.searchResultCard:not(:first-of-type){
  border-top: 1px solid var(--green-background);

}
.searchResultCard:hover{
  /* border: none; */
  background-color: var(--light-grey);



  border-radius: .8rem;
  -webkit-border-radius: .8rem;
  -moz-border-radius: .8rem;
  -ms-border-radius: .8rem;
  -o-border-radius: .8rem;
}





.searchResultCard span {
	position: relative;
}

.searchResultCard span:not(:nth-child(1)):before {
	position: absolute;
	content: "";
	left: -1rem;
	width: 1px;
	height: 100%;
	border-left: dashed grey 1px;
}




.searchResultCard span:not(:last-of-type) {
}
.searchResultCard span:nth-child(1) {
	flex: 2;
}
.searchResultCard span:nth-child(2) {
	flex: 4;
}
.searchResultCard span:nth-child(3) {
	flex: 5;
}
.searchResultCard span:nth-child(4) {
	flex: 1;
}