.planBillOptions{
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;
	margin-bottom: 2rem;
}
.planBillOptions .selected{
	/* color: var(--pc-green); */
	color: var(--white);
	font-weight: 800;
	/* outline: 2px solid var(--accent-yellow); */
	outline: 1px solid var(--white);
	background-color: var(--accent-4);
}

.planBillViewWrapper {
	background-color: var(--white);

		border: solid var(--sc-grey) 1px;
	padding: 2px;

	/* padding: 2rem 3.5rem; */
	/* margin: 1rem 0; */

	box-shadow: 0px 0px 9px -4px rgba(0, 0, 0, 0.5);

	border-radius: 8px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	-ms-border-radius: 8px;
	-o-border-radius: 8px;
}

html[data-theme="dark"] .planBillViewWrapper {
	box-shadow: 0px 0px 9px -4px rgba(250, 250, 250, 0.5);
}

.planBillView {
	margin: 0 auto;
	min-height: 1120px;
	font-size: 1.4rem;
	background-color: var(--white);
	padding: 2rem 1.5rem;
}
.planBillViewHeaderTop {
	display: flex;
	justify-content: space-between;
	padding: 0 2rem;
	padding-top: 2rem;
}
.planBillViewHeaderBottom {
	font-size: 0.8em;
	font-weight: 600;
	display: flex;
	justify-content: space-around;
	padding: 0 15rem;
}

.pbhState {
	font-weight: 600;
	font-size: 1.6rem;
	color: red;
	text-transform: uppercase;
}
.pbhMinistry {
	font-weight: 600;
	font-size: 1.8rem;
	font-family: "Algerian";
	text-transform: uppercase;
}
.pbhAddress {
	font-weight: 600;
}
.planBillViewHeaderText {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.billLogo {
	height: 100px;
	width: 100px;
}
.billViewHeaderUnderline {
	margin-top: 20px;
	border: solid red 1px;
}

.billTitle {
	padding: 15px 0;
	font-weight: 700;
	font-size: 18px;
	text-align: center;
	/* text-decoration: underline; */
	text-transform: uppercase;
	color: var(--pc-green);
}
.billTitle.fastTrack {
	color: var(--accent-red);
}
.billDetails {
	padding: 0 65px;
}
.billDetailsTitle {
	text-transform: uppercase;
	text-decoration: underline;
	font-weight: 700;
	margin-bottom: 10px;
	padding: 0 1rem;
}
.billDetailsTopItems {
	display: flex;
	flex-direction: column;
	gap: 5px;
	padding: 0 1rem;
}
.billDetailsTopItem {
	display: flex;
}
.billDetailsTopItemTitle {
	flex: 1.5;
	max-width: 150px;
}
.billDetailsTopItemText {
	text-transform: capitalize;
	flex: 4;
	max-width: 450px;
}

.billAnalysisTitle {
	text-transform: uppercase;
	text-decoration: underline;
	font-weight: 700;
	margin: 1rem 0;
	margin-bottom: 1rem;
}
.billAnalysisItems {
	/* width: 80%; */
	z-index: 10;
	padding: 1rem 3rem;
	background-color: rgba(168, 219, 168, 0.3);
	border-radius: 8px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	-ms-border-radius: 8px;
	-o-border-radius: 8px;
}
.billAnalysisItem{
	padding: .5rem .5rem;
	border-top: dashed 1px gold;
}
.billAnalysisItem:last-of-type{
	font-weight: 700;
}
.billAnalysisItemSum{
	display: flex;
	justify-content: space-between;
}
.billAnalysisBreakdown{
	padding: 0 1rem;
	display: flex;
	gap: 1.5rem;
}
.billAnalysisBreakdownCal{
	display: flex;
	flex-direction: column;
	margin-right: 7rem;
}
.billAnalysisBreakdownSum{
align-self: center;
}
.billAnalysisTotalPay{
	display: flex;
	font-size: 1.6rem;
	font-weight: 700;
	gap: 3rem;
}
.billAnalysisPrev{
	display: flex;
	flex-direction: column;
	padding: 1rem 0;
}
.billAnalysisTotalPay{
	margin-top: 2rem;
	padding: .5rem 0;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	font-size: 2rem;
}
.billAnalysisTotalPay span:last-child{
	font-size: 2rem;
}

.planBillViewFooter{
	margin-top: 3rem;
	margin-bottom: 2rem;
	display: flex;
	justify-content: space-around;
}
.planBillViewFooterItem{
	display: flex;
	flex-direction: column;
	align-items: center;
}
.planBillViewFooterItem span{
	width: 100%;
	text-align: center;
}
.planBillViewFooterItem span:first-child{
	border-bottom: 1px dashed yellowgreen;
}
.planBillPrint{
	margin-top: 1rem;
}
.planBill .notFound{
	display: flex;
	justify-content: center;
	align-items: center;
}