.documentTop {
	display: flex;
	height: 50px;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
}
.documentTop span {
	color: var(--black);
	font-weight: 700;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 50px;
	width: 50%;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
  cursor: pointer;
}
.documentTopActive {
	background-color: var(--white);
}
.documentWrapper {
	padding: 2rem 1rem;
	padding-bottom: 0;


	/* gap: 2rem; */


	font-size: .95em;
	display: flex;
	background-color: var(--white);
	height: calc(100vh - 106px);
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
  overflow-y: auto;
}
.documentItems{
	display: flex;
	flex-direction: column;


	padding: 0 .5rem;
	flex: 2;
	overflow-y: auto;
	gap: 2rem;
	padding-bottom: 10rem;
}
.documentPages{
	display: flex;
	flex-direction: column;
	gap: 1rem;
	padding: 0 .5rem;
	flex: 1.5;
	overflow-y: auto;
}
.documentItems::-webkit-scrollbar-thumb,
.documentPages::-webkit-scrollbar-thumb{
	display: none;
}
.documentItems:hover::-webkit-scrollbar-thumb,
.documentPages:hover::-webkit-scrollbar-thumb{
	display: block;
}

/* Document Item */
.documentItem{
	cursor: pointer;

	padding: .6rem;
	background-color: var(--light-grey);
	border-radius: 6px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	-ms-border-radius: 6px;
	-o-border-radius: 6px;
}
.documentItem.selected{
		font-weight: 600;
	background-color: var(--sc-grey);
	border: 2px solid var(--accent-yellow);
}
.documentItemBg{
	background-color: var(--green-background);
	height: 15rem;
	border-radius: 6px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	-ms-border-radius: 6px;
	-o-border-radius: 6px;
}
.documentItemName{
	padding: .5rem 0;
}

.documentItem:hover{
	font-weight: 600;
	background-color: var(--sc-grey);
}



/* Document Pages */

.documentPage{
	font-size: .9em;
}
.documentPageBg{
	cursor: pointer;

	max-height: 10rem;
	max-width: 7.5rem;
	height: 10rem;
	background-color: var(--light-grey);
		border-radius: 8px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	-ms-border-radius: 8px;
	-o-border-radius: 8px;
}
.documentPageName{
	cursor: pointer;

	max-width: 10rem;
}
