.staffView{
	padding: 1rem;
}
.staffView .inputStaffHeader{
	align-items: center;
}
.staffViewHeader{
	display: flex;
	/* align-items: center; */
	justify-content: space-between;
	max-width: 70rem;
}

.staffViewHeader h2{
	font-size: 3rem;
}
 .staffView .staffImage{
	height: 25rem;
	width: 20rem;
 }
