.topBar {
	flex: 6.5;
	display: flex;
	align-items: center;
	width: 100%;
	justify-content: space-between;
	padding: 0 1rem;
	margin-bottom: 5px;
	background-color: var(--white);
	border-top-right-radius: 8px;
	border-top-left-radius: 8px;
	height: 5rem;
	box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
	gap: 1rem;
}
html[data-theme="dark"] .topBar {
	box-shadow: 0px 0px 4px 0px rgba(255, 255, 255, 0.25);
}

.topBarLeft {
	/* width: fit-content; */
	display: flex;
	align-items: center;
	gap: 1rem;
}
.topBarRight {
	/* width: 100%; */
	display: flex;
	align-items: center;
	gap: 2rem;
	margin-right: 2rem;
}
.topBarRight-planText {
	font-weight: 500;
}
.topBarRight-planText span {
	color: var(--pc-green);
	font-weight: 800;
}
.topBarIcon {
	font-size: 1.5rem !important;
	/* padding: 2px 4px; */
}
.topBarArrowIcon {
	font-size: 3.5rem !important;
	padding: 2px 4px;
}
.topBarArrowIcon:hover {
	/* font-size: 3.5rem !important; */
	outline: var(--light-grey) solid 2px;
	padding: 5px;
	cursor: pointer;
	border-radius: 8px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	-ms-border-radius: 8px;
	-o-border-radius: 8px;
}
.topBarAction {
	display: flex;
	gap: 1rem;
}

.topBarName,
.topBarPlanNumber {
	font-size: 1.6rem;
	text-transform: capitalize;
	font-weight: 600;
}

.topBarPlanNumber {
	color: var(--pc-green);
	font-weight: 700;
	padding: 0 1rem;

	box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px,
		rgb(209, 213, 219) 0px 0px 0px 1px inset;

	border-radius: 0.8rem;
	-webkit-border-radius: 0.8rem;
	-moz-border-radius: 0.8rem;
	-ms-border-radius: 0.8rem;
	-o-border-radius: 0.8rem;
}

html[data-theme="dark"] .topBarPlanNumber {
	box-shadow: var(--light-grey) 0px 0px 0px 1px,
		rgba(0, 0, 0, 0.05) 0px 0px 0px 1px inset;
}

.topBarDivider {
	display: flex;
	align-items: center;
	/* background-color: black; */
}

.topBarOptions {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
