.topBar {
	flex: 6.5;
	display: flex;
	align-items: center;
	width: 100%;
	justify-content: space-between;
	padding: 0 1rem;
	margin-bottom: 5px;
	background-color: var(--white);
	border-top-right-radius: 8px;
	border-top-left-radius: 8px;
	height: 5rem;
	box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
  gap: 1rem;
}

.topBarLeft{
	/* width: fit-content; */
	display: flex;
	align-items: center;
	gap: 1rem;

}
.topBarRight{
	/* width: 100%; */
	display: flex;
	align-items: center;
	gap: 1rem;
	margin-right: 2rem;

}
.topBarIcon {
	font-size: 1.5rem !important;
	/* padding: 2px 4px; */
}
.topBarArrowIcon {
	font-size: 3.5rem !important;
	padding: 2px 4px;
}
.topBarArrowIcon:hover {
	/* font-size: 3.5rem !important; */
	outline: var(--light-grey) solid 2px;
	padding: 5px;
	cursor: pointer;
	border-radius: 8px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	-ms-border-radius: 8px;
	-o-border-radius: 8px;
}
.topBarAction{
	display: flex;
	gap: 1rem;
}

.topBarName,.topBarPlanNumber{
  font-size: 1.6rem;
  font-weight: 600;
}
.topBarDivider{
	display: flex;
	align-items: center;
	/* background-color: black; */
}

.topBarOptions{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}