.feedCardWrapper{
  position: relative;
  height: 17rem;
  width: 23rem;
  padding: 2rem;
  font-weight: 700;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  cursor: pointer;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.feedCardBadge{
  height: 2.5rem;
  min-width: 2.5rem;
  padding: 5px 5px;
  font-size: 1.8rem;

  font-weight: 700;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: -5px;
  right: 20px;
  color: var(--black);
  background-color: var(--accent-yellow);
  border-radius: .8rem;
  -webkit-border-radius: .8rem;
  -moz-border-radius: .8rem;
  -ms-border-radius: .8rem;
  -o-border-radius: .8rem;
}
.feedCardText{
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.2;
  display: flex;
  align-items: center;
  justify-content: center;
}