.profile .top {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.profile .top .profile-picture {
	height: 35rem;
	width: 30rem;
	/* background-color: blue; */

	box-shadow: var(--shadow);
	outline: 4px solid var(--accent-4);
	border-radius: 1rem;
	-webkit-border-radius: 1rem;
	-moz-border-radius: 1rem;
	-ms-border-radius: 1rem;
	-o-border-radius: 1rem;
}
.profile-picture img {
	object-fit: cover;
	object-position: top;
}
.profile .name {
	font-size: 2.5rem;
	font-weight: bold;
	text-transform: uppercase;
}
.profile .jobTitle {
	font-size: 1.8rem;
	font-weight: bold;
	text-transform: capitalize;
}
.profile .position {
	font-size: 1.5rem;
	font-weight: bold;
	text-transform: uppercase;
}
