.profile .top {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.profile .top .profile-picture {
	height: 35rem;
	width: 30rem;
	/* background-color: blue; */

	box-shadow: var(--shadow);
	outline: 4px solid var(--accent-4);
	border-radius: 1rem;
	-webkit-border-radius: 1rem;
	-moz-border-radius: 1rem;
	-ms-border-radius: 1rem;
	-o-border-radius: 1rem;
}
.imageSection {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: end;
	gap: 1rem;
}
.profile-picture img {
	max-width: 100%;
	height: 100%;
	object-fit: contain;
	object-position: top;
}
.profile .name {
	font-size: 2.5rem;
	font-weight: bold;
	text-transform: uppercase;
}
.profile .jobTitle {
	font-size: 1.8rem;
	font-weight: bold;
	text-transform: capitalize;
}
.profile .position {
	font-size: 1.5rem;
	font-weight: bold;
	text-transform: uppercase;
}

.editButtons {
	display: flex;
	align-items: center;
	gap: 1rem;
	font-weight: bold;
}
.editButtons p{
	font-weight: bold;
}

.editButtons input {
	display: none;
}
.editButtons .button {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1rem;
	min-width: 10rem;
	text-align: center;
}
.editButtons .cancel {
	font-weight: bold;
}
.editButtons .cancel:hover {
	color: var(--accent-red);
}
