.planInfo {
	width: 100%;
	/* background: #ececec; */
}
.planInfoSummary {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	margin-bottom: 2rem;
}
.planInfoSummaryDetails {
	margin-right: 5rem;
	width: 100%;
}
.planInfoSummaryDetails2 {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	gap: 1rem;
}
.planInfoSummaryItem {
	display: flex;
	align-items: center;
}
.planInfoSummaryTitle {
	flex: 3;
	font-weight: 600;
	/* width: 15rem; */
}
.planInfoSummaryText {
	display: flex;
	gap: 1rem;
	flex: 9;
	/* width: 30rem; */
}
.planInfoSummaryText.large {
	font-size: 1.6rem;
}
.planInfoSummaryStack {
	font-weight: bold;
}
.tag {
	display: flex;
	align-items: center;
	justify-content: center;
	color: var(--white);
	font-weight: 700;
	font-size: 1.4rem;
	padding: 0 0.6rem;
	border-radius: 30px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	-ms-border-radius: 30px;
	-o-border-radius: 30px;
}
.tag-fastTrack {
	/* background-color: var(--accent-red); */
	background-color: #f73832;
}
.tag-oldFile {
	background-color: var(--accent-yellow);
}
.tag-fileOfInterest {
	background-color: var(--accent-4);
}

.planInfoWrapper {
	background-color: var(--green-background);
	padding: 2rem 3rem;
	display: flex;
	flex-direction: column;
	gap: 2rem;
	margin-bottom: 1rem;

	border-radius: 8px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	-ms-border-radius: 8px;
	-o-border-radius: 8px;
}

.planInfoButtons {
	display: flex;
	gap: 1rem;
}

.watermark {
	position: absolute;
	/*height: 90%;
	*/ /*width: 90%;
	*/ /*background-color: red;
	*/
	display: flex;
	align-items: center;

	justify-content: center;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
}
.watermark span {
	font-size: 12rem;
	font-family: monospace;
}
.watermark.approved {
	color: rgba(255, 215, 0, 0.3);
}
.watermark.rejected {
	color: rgba(255, 0, 0, 0.3);
}
.watermark.kiv {
	color: rgba(255, 0, 0, 0.3);
}
