.homeContainer{
  display: grid;
  grid-template-columns: 1fr 5fr;
  width: 100%;
  padding: 0 6px;
  gap: 6px;
}

.home__greetings{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 4rem;
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 6px;
  background-color: var(--white);
  width: 100%;
  /* color: var(--pc-green); */
  height: 5rem;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}
.home__greetings span:last-of-type{
  color: var(--pc-green);
  font-size: 1.3rem;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}