.documentViewerContainer {
	/* background: transparent; */
	/* background: red; */
	/* background-color: rgba(255, 255, 255, 0.8); */
	/* background-color: rgba(0, 0, 0, 0.1); */
	height: 100%;
	padding: 0 !important;
  margin: 0;
}
.documentViewerTopControl {
	position: absolute;
	display: flex;
	margin: 0 1.5rem;
	right: 0;
  padding: .1rem !important;
  /* background-color: rgba(250, 250, 250, 0.1); */
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	-o-border-radius: 4px;
}
html[data-theme="dark"] .documentViewerTopControl {
  /* background-color: rgba(0, 0, 0, 0.1); */
}
.documentViewerTopControl svg:hover{
  background-color: var(--light-grey);

}
.documentViewerTopControl svg:active{
  /* background-color: var(--white); */
  background-color: var(--color-2);

}
.documentViewerBottomControl {
	display: flex;
	justify-content: space-between;
	padding: 0 2rem;
	position: absolute;
	width: calc(100% - 12px);
	bottom: 2rem;
}
.documentViewerBottomControl button,
.documentViewerBottomControl div {
  display: flex;
  align-items: center;
	padding: 0.2rem 0.6rem;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
}
.documentViewerBottomControl div:hover {
	background-color: var(--white);
}
.documentViewerBottomControl div:nth-child(2):hover {
	background-color: var(--white);
	cursor: pointer;
}
.documentViewerBottomControl input {
	/* display: flex; */
	width: 4rem;
	/* background-color: inherit; */
  background-color: var(--light-grey);
}

/* ICONS */
.documentViewerIcon {
	font-size: 3rem !important;
	padding: 0.4rem;
	/* border: 1px red solid; */
}
.documentViewerIcon:hover {
	cursor: pointer;
	background-color: var(--light-grey);
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	-o-border-radius: 4px;
}
