.feedBackground {
	flex: 10;
	overflow-y: auto;
	height: calc(100vh - 56px);
	padding: 5rem 10rem;
  padding-bottom: 10rem;
  display: flex;
  flex-direction: column;
  gap: 10rem;

}

.feedCard__container {
  gap: 2.3rem;
  display: flex;
  flex-direction: column;
  /* gap: 10rem; */
  /* margin-bottom: 5rem; */
}
.feedCard__title {
    color: var(--white);
  font-weight: 800;
}
.feedCard__list {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	row-gap: 5rem;
	column-gap: 10rem;

  /* display: grid;
  justify-content: center;
  gap: 3rem;
  justify-items: center;
  grid-template-columns: repeat(3, 1fr); */
}
.feedCard__container:not(:last-of-type)::after{
  position: relative;
  top: 4rem;
  content: "";
  border-bottom: var(--white) dashed 2px;
}
