.changePasswordModal{
	font-size: 1.4rem;
	cursor: default;
}
.changePasswordModal header{
  margin-bottom: 2rem;
}
.changePasswordModal form{
	margin: 0;
}
.changePasswordModal .login__form{
	padding: 0 1rem;
}
.changePasswordModal .form-input{
	/* padding: 0; */
	width: 45rem;
	position: relative;
}

.changePasswordModal p{
	min-width: 100%;
	margin-bottom: 2rem;
	/* font-size: 2rem; */
	font-weight: 600;
}
.passwordErrorDiv{
	box-shadow: 0px 0px 4px var(--accent-red)
}
.passwordErrorText{
	position: absolute;
	right: 0;
	color: var(--accent-red);
	font-size: 1.4rem;
	transform: translateX(2rem);
	-webkit-transform: translateX(2rem);
	-moz-transform: translateX(2rem);
	-ms-transform: translateX(2rem);
	-o-transform: translateX(2rem);
}