.changePasswordModal{
	font-size: 1.4rem;
}
.changePasswordModal header{
  margin-bottom: 2rem;
}
.changePasswordModal form{
	margin: 0;
}
.changePasswordModal .login__form{
	/* padding: 0; */
}
.changePasswordModal .form-input{
	/* padding: 0; */
	width: 45rem;
}
