.activitiesTop {
	display: flex;
	height: 50px;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
}
.activitiesTop span {
	color: var(--black);
	font-weight: 700;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 50px;
	width: 50%;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
  cursor: pointer;
}
.activitiesTopActive {
	background-color: var(--white);
}
.activitiesLabels {
	height: 40px;
	display: flex;
	background-color: var(--white);
	border-bottom: var(--sc-grey) solid 1px;
}
.activitiesLabels span {
	flex: 1;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}
.activitiesLabels span:hover {
	color: var(--pc-green);
}
.activitiesLabelActive {
	color: var(--pc-green);
	font-weight: 700;
	position: relative;
}
.activitiesLabelActive::after {
	content: "";
	position: absolute;
	display: block;
	bottom: 0px;
	left: 5%;
	background-color: var(--pc-green);
	font-weight: 800;
	width: 90%;
	height: 3px;
}
.activitiesWrapper {
	background-color: var(--white);
	height: calc(100vh - 146px);
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
  overflow-y: auto;
	padding: 2rem;
}

.activitiesWrapper .empty{
	display: flex;
	align-items: center;
	justify-content: center;
}