.mapViewCard {
	position: relative;
	/* background: lightgoldenrodyellow; */
	/* background: red; */
	/* padding: 0 !important; */
	/* margin-left: 0 !important; */
	overflow: clip;

	margin-bottom: 1rem;
	box-shadow: var(--shadow-1);
	height: 20rem;
	border-radius: 8px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	-ms-border-radius: 8px;
	-o-border-radius: 8px;
}


.mapboxgl-ctrl-logo {
	display: none !important;
}
