/* @font-face {
	font-family: "Nunito";
	src: url("/assets/fonts/Nunito.woff2") format("woff2");
} */
/* @font-face {
	font-family: "Candara";
	src: url("/assets/fonts/Candara.woff2") format("woff2");
} */
@font-face {
	font-family: "Algerian";
	src: url("/assets/fonts/Algerian.woff2") format("woff2");
}
:root {
	/* font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif; */

	font-family: "Nunito", sans-serif;
	line-height: 1.5;
	font-weight: 400;

	/* color-scheme: light dark; */
	/* color: rgba(255, 255, 255, 0.87); */
	/* background-color: #242424; */

	/* color: #213547; */
	/* background-color: #ffffff; */

	/* --black: #ffffff; */
	/* --black: #2c2c2c; */
	/* --white: #2c2c2c; */
	/* --white: #ffffff; */
	/* --light-grey: #ececec; */
	/* --sc-grey: #bfbfbf; */
	/* --accent-4: #7882a4; */

	/* --pc-green: #07bc0c; */
	/* --pc-green: #0d9f4f; */
	/* --pc-green: #0d9f4f; */

	/* --accent-yellow: #ffcc00; */
	/* --accent-yellow: gold; */
	/* --accent-red: #f70000; */
	/* --accent-red: #f73832; */
	/* --green-background: #eef8f3; */

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}
html {
	font-size: 62.5%;
	box-sizing: border-box;
}
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

a {
	font-weight: 500;
	color: #646cff;
	text-decoration: inherit;
}
a:hover {
	color: #535bf2;
}

body {
	font-size: 1.45rem;
	color: var(--black);

	/* display: flex; */
	/* place-items: center; */
	min-width: 320px;
	min-height: 100vh;
	/* background-color: lightgrey; */
}

h1 {
	font-size: 3.2em;
	line-height: 1.1;
}
a {
	color: inherit;
	text-decoration: none;
}
a:hover {
	color: inherit;
	text-decoration: none;
}

img {
	width: 100%;
	object-fit: contain;
}
.btn {
	cursor: pointer;
	text-transform: capitalize;
}
.button,
button {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1rem;
}
.button,
button,
select {
	border-radius: 8px;
	border: 1px solid transparent;
	padding: 0.7rem 2rem;
	font-size: 1em;
	font-weight: 500;
	font-family: inherit;
	background-color: var(--light-grey);
	cursor: pointer;
	transition: border-color 0.25s;
	-webkit-transition: border-color 0.25s;
	-moz-transition: border-color 0.25s;
	-ms-transition: border-color 0.25s;
	-o-transition: border-color 0.25s;
}
.button:hover,
button:hover {
	/* border-color: #646cff; */
	outline: var(--pc-green) 1px solid;
}
.button:focus,
.button:focus-visible,
button:focus,
button:focus-visible,
select:focus,
select:focus-visible {
	/* outline: 4px auto -webkit-focus-ring-color; */

	/* outline: none; */
}
select:focus,
select:focus-visible {
	/* outline: 4px auto -webkit-focus-ring-color; */

	outline: none;
}

.primary {
	background-color: var(--pc-green);
	color: #fff;
	font-weight: 700;
	text-transform: capitalize;
}
.secondary {
	/* background-color: transparent; */
	background-color: var(--white);
	box-shadow: 0px 0px 11px -4px rgba(0, 0, 0, 0.5);

	color: var(--black);
	outline: var(--pc-green) 1.5px solid;
	padding: 0.4rem 1rem;
	text-transform: capitalize;
}
.secondary:hover,
.secondary:active {
	outline: var(--pc-green) 2px solid;
}

/* .secondary {
	background-color: var(--light-grey);
	color: var(--black);
	font-weight: 400;
} */
input,
input:active {
	background-color: var(--white);
	font: inherit;
	outline: none;
	border: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
	-webkit-background-clip: text;
	-webkit-text-fill-color: var(--black);
	transition: background-color 5000s ease-in-out 0s;
}

::selection {
	background: var(--accent-yellow);
}
::-webkit-scrollbar {
	width: 5px;
	height: 10px;
	scrollbar-gutter: stable;
}
::-webkit-scrollbar-thumb {
	background-color: var(--sc-grey);
	border-radius: 100px;
}

::-webkit-scrollbar-track {
	border: none;
	background: transparent;
	margin: 0.8rem 0;
}

html[data-theme="dark"] ::selection {
	color: var(--white);
}
html[data-theme="dark"] ::-webkit-scrollbar-thumb {
	background-color: var(--light-grey);
}

/* @media (prefers-color-scheme: light) {
	:root {
		color: #213547;
		background-color: #ffffff;
	}
	a:hover {
		color: #747bff;
	}
	button {
		background-color: #f9f9f9;
	}
} */

/* Loading Material UI component */
.isLoadingPryBtn {
	font-size: 1rem !important;
	color: white;
}

/* Page Background */

.pageWrapper {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	min-height: 100%;
	min-width: 100%;
	/*background-image: url(/assets/banners/bg.png);
	*/
	background-image: linear-gradient(
			rgba(255, 255, 255, 0.5),
			rgba(255, 255, 255, 0.5)
		);
	/* background-image: linear-gradient(
			rgba(255, 255, 255, 0.5),
			rgba(255, 255, 255, 0.5)
		),
		url(/assets/banners/bg2.jpg); */
	background-size: cover;
	background-repeat: repeat;
	z-index: -5;
	filter: brightness(80%) blur(4px);
	-webkit-filter: brightness(80%) blur(4px);
}
.pageWrapper::after {
	content: "";
	position: relative;
	display: block;
	height: 100%;
	width: 100%;
	/* background-color: rgba(255, 255, 255, .85); */
}
html[data-theme="dark"] .pageWrapper {
	filter: brightness(50%) blur(4px);
	-webkit-filter: brightness(50%) blur(4px);
}
/* html[data-theme="dark"] select option {
	color: var(--black);
	background-color: var(--white);
	box-shadow: #fff 1px 1px solid;
} */
html[data-theme="light"] {
	color-scheme: "light";
}
html[data-theme="dark"] {
	color-scheme: "dark";
}

.flex {
	display: flex;
}
.relative {
	position: relative;
}
.absolute {
	position: absolute;
}
